---
# Only the main Sass file needs front matter (the dashes are enough)
---

$spacing-unit: 1em * 0.8;
$font-size: 16px;
$theme-color: #202e41;

// super simple
html {
  font-family: "Open Sans",Arial,sans-serif;
  font-size: $font-size;
  line-height: 175%;
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: black;
  text-align: center;
}

b,strong,h1,h2,h3 {
  font-weight: 600;
}

p {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}

h1 {
  font-size: $font-size * 1.5;
  text-align: center;
  margin-top: 0;
  margin-bottom: $spacing-unit * 1.5;
}

h3 {
  font-size: $font-size * 1;
  margin-top: $spacing-unit * 2;
  margin-bottom: $spacing-unit;
}

body {
  margin: 0;
  padding: 0;

  header {
    background: $theme-color;
    color: white;
    padding: $spacing-unit * 2;
  }

  main {
    padding: $spacing-unit * 4;

    div.content {
      text-align: left;
      margin: 0 auto;
      width: 95%;
      max-width: $spacing-unit * 60;
      background: #f6f6f6;
      border-radius: $spacing-unit * 2;
      padding: $spacing-unit * 2;
    }
  }

  footer {
    padding-bottom: $spacing-unit * 2;
    color: rgba(0, 0, 0, 0.75);
  }
}

a.button {
  margin-top: $spacing-unit * 1.5;

  border-radius: $spacing-unit;
  padding: $spacing-unit $spacing-unit * 2;
  background: $theme-color;
  color: white;
  display: inline-block;
  text-decoration: none;

  &[hover] {
    text-decoration: underline;
  }
}

a.logo {
  $ratio: 160 / 50.0;
  $size: $spacing-unit * 6;
  width: $size * $ratio;
  height: $size;
  display: inline-block;
  background: url("logo-with-text-white.svg");
  background-size: contain;
  text-indent: 900em;
  overflow: hidden;
}

span.reg {
  color: rgba(255, 255, 255, 0.5);
  line-height: $spacing-unit * 5;
  vertical-align: top;
  display: inline-block;
}
